<% if @post.errors.any? %>
	<div id="errors col s6">
		<h3><%= pluralize(@post.errors.count, "error") %> prevented this post from saving.</h3>
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="row">
	<div class="input-field col s6">
		<%= form.text_field :title, :required => true %><br>
		<%= form.label :title %><br>
	</div>

	<div class="input-field col s6">	
		<%= select_tag "post_category", options_from_collection_for_select(Category.all, "id", "name", 
			(!@post.categories.empty?) ? @post.categories.first.id : 0), {include_blank: 'Select a Category', :required => true} %>
	</div>
</div>

<div class="input-field">
	<%= form.text_area :content, id: "wysiwyg" %><br>
	<%= form.label :content %><br>
</div>

<% if @post.image_file_name.nil? %>
	<%= form.label :image %><br>
	<%= form.file_field :image, :required => true %><br>
<% else %>
	<h5>Post Cover Image</h5>
	<%= image_tag(@post.image.url(:normal_card), :class => "responsive-img")  %>
	<%= form.file_field :image %><br>
<% end %>

<div class="input-field">
	<%= form.submit :class => 'btn' %>
</div>