<div class="card-panel recent z-depth-1">
  <div class="row valign-wrapper">
    <div class="image">
      <%= link_to image_tag(post.image.url(:small_card), :class => "responsive-img"), {:controller => 'posts', :action => 'show', :id => post.id} %>
      <a data-position="right" data-delay="0" data-tooltip="<%= post.likes_count %> likes" class="like-icon tooltipped" href="#"><i class="fa fa-heart-o"></i></a>
      <a data-position="right" data-delay="0" data-tooltip="share" class="share-icon tooltipped modal-trigger" href="#modal-share"><i class="fa fa-share-alt"></i></a>
      <a data-position="right" data-delay="0" data-tooltip="watch later" class="watch-icon tooltipped" href="#"><i class="fa fa-clock-o"></i></a>
    </div>
    <div class="content">
      <span class="black-text">
        <span class="card-section"><%= link_to(post_category.name, {:controller => 'categories', :action => 'show', :id => post_category.id}, :class => 'type') %></span>
        <a href="/posts/<%= post.id %>"><p class="card-title">Post Title</p></a>
        <a class="views" href="#"><i class="fa fa-eye"></i><%= Random.rand(10...42) %> Views</a>
        <a class="comments" href="#"><i class="fa fa-comment"></i><%= post.comment_count %> Comments</a>
      </span>
    </div>
  </div>
</div>