<%
  slider_posts = @posts.limit(5)

  main_posts = @posts.offset(5)

  # represens the number of main blocks to be added in the main container
  blocks_counter = main_posts.count / 11

  sidebar_posts = @posts.most_liked
%>
      <% if slider_posts.count == 5 %>
      <!-- Slider Begins here! -->
      <div class="top-news row container">
        <div class="new-sec new-1 col l5 m12 s12">
          <div class="shadow"></div>
          <%= link_to image_tag(slider_posts[0].image.url(:large), :class => "responsive-img"), {:controller => 'posts', :action => 'show', :id => slider_posts[0].id} %>

          <div class="caption left-align col l10 m8 s8">
            
            <a href="#"><h5 class="light grey-text text-lighten-3"><%= link_to(slider_posts[0].title, {:action => 'show', :id => slider_posts[0].id}) %></h5></a>
          </div>         
        </div>
        <div class="new-sec col l4 m12 s12">
          <div class="new-2 col l12 m6 s12">
            <div class="shadow"></div>
            <%= link_to image_tag(slider_posts[1].image.url(:medium_card), :class => "responsive-img"), {:controller => 'posts', :action => 'show', :id => slider_posts[1].id} %>

            <div class="caption left-align col l9 m12 s9">
            
            <a href="#"><h5 class="light grey-text text-lighten-3"><%= link_to(slider_posts[1].title, {:action => 'show', :id => slider_posts[1].id}) %></h5></a>
            </div>        
          </div>
          <div class="new-3 col l12 m6 s12">
            <div class="shadow"></div>
            <%= link_to image_tag(slider_posts[2].image.url(:medium_card), :class => "responsive-img"), {:controller => 'posts', :action => 'show', :id => slider_posts[2].id} %>

            <div class="caption left-align col l9 m12 s9">
              
            <a href="#"><h5 class="light grey-text text-lighten-3"><%= link_to(slider_posts[2].title, {:action => 'show', :id => slider_posts[2].id}) %></h5></a>
            </div>         
          </div>         
        </div>
        <div class="new-sec col l3 m12 s12">
          <div class="new-4 col l12 m6 s12">
            <div class="shadow"></div>
            <%= link_to image_tag(slider_posts[3].image.url(:medium_card), :class => "responsive-img"), {:controller => 'posts', :action => 'show', :id => slider_posts[3].id} %>

            <div class="caption left-align col l12 m12 s9">
              
            <a href="#"><h5 class="light grey-text text-lighten-3"><%= link_to(slider_posts[3].title, {:action => 'show', :id => slider_posts[3].id}) %></h5></a>
            </div>         
          </div>
          <div class="new-5 col l12 m6 s12">
            <div class="shadow"></div>
            <%= link_to image_tag(slider_posts[4].image.url(:medium_card), :class => "responsive-img"), {:controller => 'posts', :action => 'show', :id => slider_posts[4].id} %>
            <div class="caption left-align col l12 m12 s9">
              
            <a href="#"><h5 class="light grey-text text-lighten-3"><%= link_to(slider_posts[4].title, {:action => 'show', :id => slider_posts[4].id}) %></h5></a>
            </div>         
          </div>        
        </div>
      </div>
      <% end %>
      <!-- Slider End -->
      
      <div class="container">
        <div class="row col l12 m12 s12">
          <!-- MAIN CONTENT START -->
          <div class="col l9 m8 s12 main-content">
            
            <% blocks_counter.times do %>

            <% posts_arr = main_posts[0..10] %>
            <div class="row">
              <% 6.times do |i| 
                post_category = posts_arr[i].categories.first %>
                <%= render(:partial => "shared/default_card", :locals => {:post => posts_arr[i], :post_category => post_category}) %>
              <% end %>
            </div>

            <div class="row">
              <%= render(:partial => "shared/big_card", :locals => {:post => posts_arr[6], :post_category => posts_arr[6].categories.first}) %>
              <div class="col l6 m6 s12">
                <div class="videos">
                  <ul class="video-scroll">
                    <% 4.times do |i| 
                      post_category = posts_arr[i].categories.first %>
                      <%= render(:partial => "shared/small_card", :locals => {:post => posts_arr[i], :post_category => post_category}) %>
                    <% end %>
                  </ul>
                </div>
                <!-- end of videos div -->
              </div>
            </div>
            
            <% 11.times do |i| 
              main_posts.to_a.delete_at(i) 
              end %>

            <% end %>

          </div>

      
          <!-- MAIN CONTENT END -->

          <!-- SIDEBAR START -->
          <div class="col l3 m4 s12 side-content">
            
            <%= render(:partial => "shared/social_media_sidebar") %>

            <div class="row hotest">
              <h5 class="h-sec"><i class="small material-icons">play_arrow</i>&nbsp;&nbsp;Hotest Articles</h5>

              <%if sidebar_posts.count > 0
                #check if there are more posts
                sidebar_posts.each do |post|
                post_category = post.categories.first %>

                <%= render(:partial => "shared/sidebar_card", :locals => {:post => post, :post_category => post_category}) %>

                <% end #loop end %>
              <% end #if end %>
            </div>

          </div>

          <!-- SIDEBAR END -->

        </div>

        <%= render(:partial => "shared/modal_share") %>