<h1>Add New Post</h1>

<%= form_for(:post, :url => {:action => 'create'}, html: { multipart: true }) do |form| %>
	<%= form.text_field :title %>
	<%= form.text_field :content %>
	<%= form.file_field :image %>
	
	<ul>
	<% Category.all.each do |category| %>
		<li> <%= check_box_tag  "post_categories[]", category.id %> <%= category.name %>  </li>
	<% end %>
	</ul>

	<%= form.submit %>
<% end %>