<!-- <h3><%= @single_post.title %></h3>

<h3>Post Content: <%= @single_post.content %></h3>
<h3>Post Image: <%= @single_post.image %></h3>
<h3>Post Likes count: <%= @single_post.likes_count %></h3>
<h3>Post Comments count:  <%= @single_post.comments.count %></h3>
<h3>Category: <%= link_to(@single_post.categories.first.name , {:controller => 'categories', :action => 'show', :id => @single_post.categories.first.id}) %></h3>
<h3>Author: <%= link_to(@single_post.editor.first_name, {:controller => 'editors', :action => 'show', :id => @single_post.editor.id}) %></h3>


<h2>Comments: </h2>
<% @single_post.comments.each do |comment| %>

<h4><%= comment.content %>, by <%= link_to(comment.editor.first_name, {:controller => 'editors', :action => 'show', :id => comment.editor.id}) %></h4>

<% end %>

<%= form_for(:comment, :url => {:controller => 'comments', :action => 'create', :post_id => @single_post.id}) do |f| %>
  
  <%= f.text_field(:content) %>

  <%= submit_tag("Comment") %>

<% end %>  -->

<div class="container">
        <div class="row col s12">
          <div class="row col m12 main-content">
            <!--left-section 1 -->

            <div class="row col l12 article-header">
              <h5 class="article-title">It May Be the World’s Cleanest Sport</h5>
              <a class="article-views" href="#"><i class="fa fa-eye"></i>3122 views</a>
              <a class="article-comments" href="#"><i class="fa fa-comment"></i>21 comments</a>
            </div>

            <div class="row col m9 left-section">

              <div class="row col m12">  

                <div class="article-image">
                  <img src="img/new1.png">
                </div>
                    
                <div class="article-content">
                  <div class="article-text">
                    <p class="info">Mosaic Logo Template #GraphicRiver Clean logo template, suitable for any business related to creative studio, motion graphic, film, movie and video, graphic design, interior design, architectural, construction, or any other business related. 2 Optional Logos 5 Color</p>
                    <a class="waves-effect waves-light btn share-btn"><i class="fa fa-share-alt fa-2x"></i>SHARE</a>
                  </div>
                </div>
            
              </div>

                <div class="row col m12 discussion">

                  <h6>DISCUSSION</h6>
                  <div class="row disc">
                    <div class="col s1">
                      <img src="img/new1.png" alt="" class="circle pic responsive-img">
                    </div>  
                    <div class="col s11">
                      <h6 class="name">Mostafa Wahba</h6>
                      <p class="black-text">
                        text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since when an unknown printer took
                      </p>
                      <a href="#"><span class="reply">REPLY</span></a><hr>
                    </div>
                  </div>
                  
                  <div class="row disc">
                    <div class="col s1">
                      <img src="img/new1.png" alt="" class="circle pic responsive-img">
                    </div>  
                    <div class="col s11">
                      <h6 class="name">Mostafa Wahba</h6>
                      <p class="black-text">
                        text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since when an unknown printer took
                      </p>
                      <a href="#" class="reply">REPLY</a><hr>
                    </div>
                  </div>

                </div>

            </div>

            <!--end of left-section 1 -->

            <!-- mid-section 1 -->

            <div class="row col m3 mid-section side">

              <h6>POST BY</h6><hr>

              <div class="row sec">
                <img src="img/tab4.png" class="circle responsive-img col s3"><span class="col s9 name">Jennifer John</span>
              </div>

              <h6>ABOUT</h6><hr>
              <p class="sec">hsj axhsbsx xsahjxsaj xajs sahjbxash xhabsjbsa hsa ashbxs xhxbajsbx bxajshsba hsabhsa .....</p>

              <div class="row img">
                <img class="col s4" src="img/new5.png">
                <img class="col s4" src="img/new5.png">
                <img class="col s4" src="img/new5.png">
              </div>

              <div class="row img">
                <img class="col s4" src="img/new5.png">
                <img class="col s4" src="img/new5.png">
                <img class="col s4" src="img/new5.png">
              </div>

              <a class="waves-effect waves-light btn showall-btn">SHOW ALL</a>

            </div>

            <!-- end of mid-section 1 -->

          </div>

          <!-- end of main-content -->

        </div>