<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Viral And Fast</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="apple-touch-icon" href="apple-touch-icon.png">

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

      <!--Import ALL CSS-->
      <%= stylesheet_link_tag('application') %>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <%= favicon_link_tag 'favicon-96x96.png' %>

      <%= csrf_meta_tags %>
    </head>

    <body>

      <!-- Navigation Menu -->
      <nav class="navbar top-nav">
        <div class="nav-wrapper container">
          <ul id="nav-mobile" class="right">
            <li><a href="#">About us</a></li>
            <li><a href="#">Contact us</a>
              <ul>
                <li><a href="https://twitter.com/ViralAndFast"><i class="fa fa-facebook fa-2x"><span>Facebook</span></i></a></li>
                <li><a href="https://twitter.com/ViralAndFast"><i class="fa fa-twitter fa-2x"><span>Twitter</span></i></a></li>
                <li><a href="https://www.linkedin.com/company/viral-and-fast"><i class="fa fa-linkedin fa-2x"><span>LinkedIn</span></i></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <nav class="main-menu">
        <div class="nav-wrapper container">
        <a href="#" data-activates="mobile-demo-2" class="button-collapse"><i class="material-icons">menu</i></a>
          <%= link_to image_tag('logo.png', :alt => 'logo'), {:controller => 'posts', :action => 'index'}, :class => "brand-logo" %>

          <ul id="nav-mobile" class="center right hide-on-med-and-down">
            <li><%= link_to("Home", {:controller => 'posts', :action => 'index'}) %></li>
            
            <% Category.all.each do |category| %>
            <li><%= link_to(category.name, {:controller => 'categories', :action => 'show', :id => category.id}) %></li>
            <% end %>

            <ul class="right sign-up">
              <!-- <li><a href="#"><i class="material-icons">search</i></a></li> -->
              <% if editor_signed_in? %>
                <li><%= link_to "Add Post", {:controller => 'posts', :action => 'new'} %></li>
              <% else %>
                <li><%= link_to "Sign In", {:controller => 'editors', :action => 'sign_in'} %></li>
              <% end %>
              
              <!-- <li><a href="#"><span>Sign up</span></a></li> -->
            </ul>

          </ul>

          <ul class="side-nav" id="mobile-demo-2">
            <li><%= link_to("Home", {:controller => 'posts', :action => 'index'}) %></li>
            
            <% Category.all.each do |category| %>
            <li><%= link_to(category.name, {:controller => 'categories', :action => 'show', :id => category.id}) %></li>
            <% end %>
            
            <!-- <li><a href="#"><i class="material-icons">search</i></a></li> -->
            <li><a href="#"><span>Sign in</span></a></li>
            <!-- <li><a href="#"><span>Sign up</span></a></li> -->
          </ul>
        </div>
      </nav>

      <!-- Put Ads here -->

      <!-- <div class="container ads">
        
      </div> -->

      <div class="container">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
      </div>

      <%= yield %>

  	<footer>
  		<%= javascript_include_tag('application') %>
      <%= render 'layouts/footer' %>
	   </footer>
    </body>
  </html>